django>=1.6,<1.7
psycopg2
south
jsonfield
django-reversion
django-jsonify
django-crispy-forms
pygments
django-allauth
django-sendfile
requests
django-polymorphic

gearman
paramiko
supervisor
python-statsd

# For migration from old deployhub
pymongo

django-nose
mock
coverage

pip>=1.4
wheel
watchdog
fig
