{% extends 'base.jinja2' %}
{% load crispy_forms_tags %}
{% block title %}
<title>New Project | baleen</title>
{% endblock %}
{% block content %}
<h1>Add Project</h1>

{% crispy form %}

<p>Before you add the project, add this to the deploy keys of your project:</p>
<pre style='font-size: small'>{{ deploy_key }}</pre>

<p>Then we'll checkout and attempt to build the project straight away!</p>

{% endblock %}
