{% extends 'base.jinja2' %}
{% load jsonify %}
{% block title %}
<title>{{ project.name }} | baleen</title>
{% endblock %}
{% block content %}
    <div class="pull-right">
    <a class="btn" href="{% url 'manual_deploy' project_id=project.id %}">Manual Deploy <i class="icon-play"></i></a>
    {% if project.site_url %}
    <a class="btn" href="{{ project.site_url }}">Go to site <i class="icon-share"></i></a>
    {% endif %}
    </div>
    <h1><a href="{% url 'show_project' project_id=project.id %}">{{ project.name }}</a></h1>
{% if not project.github_data_received %}
<div class="alert alert-warning">
    <strong>No data has been received from your repository yet</strong>
    <p>Use this url to configure your post-receive hook: <a href="{{ github_site_url }}{{ project.github_push_url }}">{{ github_site_url }}{{ project.github_push_url }}</a></p>
</div>
{% endif %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab-jobs" data-toggle="tab">Jobs</a></li>
    <li><a href="#tab-actions" data-toggle="tab">Actions</a></li>
    <li><a href="#tab-config" data-toggle="tab">Configuration</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab-jobs">
        {% if current_job %}
            {% include 'project/_current_job.html' %}
        {% endif %}
        {% include 'project/_list_jobs.html' %}
    </div>
    <div class="tab-pane" id="tab-actions">
        {% include 'project/_show_action_plan.jinja2' %}
    </div>
    <div class="tab-pane" id="tab-config">
        {% include 'project/_edit_project.jinja2' %}
    </div>
</div>
{% endblock %}
{% block script %}

<script type="text/template" id="error-tpl">
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Uh oh!</strong> Error from server: <%= msg %>
</div>
</script>

<script>
    var action_data = {{ action_data | jsonify | safe }};
</script>
<script>
    /*setInterval(function() {*/
        /*$('#recent-jobs').load(location.href + ' thead,tbody', function(responseText, textStatus) {*/
            /*$(this)*/
                /*.find('.time').time().end()*/
                /*.find('.time-age').timeAge().end()*/
                /*.find('.time-diff').timeDiff().end()*/
            /*;*/
        /*});*/
    /*}, 5000);*/

    $('#deployment-actions-add').click(function() {
        ActionApp.add({});
        return false;
    });
    $(function() {
    $( "#deployment-actions" ).sortable({ handle: ".handle",
        stop: function( event, ui ) {
            console.log(ui.item);
            ui.item.trigger('drop', ui.item.index());
        }
        });
    });
</script>
{% endblock %}
