{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    
<form class="form-horizontal login" method="POST" action="">
    <fieldset>
    <legend>{% trans "Change Password" %}</legend>
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="{{ password_change_form.oldpassword.auto_id }}">Old Password</label>
        <div class="controls">
            {{ password_change_form.oldpassword }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ password_change_form.password1.auto_id }}">New Password</label>
        <div class="controls">
            {{ password_change_form.password1 }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ password_change_form.password2.auto_id }}">New Password (again)</label>
        <div class="controls">
            {{ password_change_form.password2 }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
        </div>
    </div>
</form>
{% endblock %}
